.btn {
    font-size: 16px;
}

.btn-danger {
    background: red;
}

.btn-success {
    cursor: pointer;
    margin: auto;
    font-family: Verdana, Geneva, sans-serif;
    text-indent: -9999px;
    color: maroon;
}